.welcome--container {
  background-color: #f7f7ff;
}

.container-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.material-icons {
  vertical-align: middle;
}
