<div class="welcome--container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-12 container-left">
            <div class="align-left m-5">
                <h2>It's time to amplify</h2>
                <h2>your <span class="text-primary">Store Business.</span></h2>
                <button type="button" class="btn btn-primary mt-3" (click)="navigateToSignUp()">
                    Get Started<span class="material-icons">keyboard_arrow_right</span>
                </button>
                <button type="button" class="btn btn-outline-secondary mt-3 ml-3" (click)="navigateToInstruction()">
                    Test Application<span class="material-icons">keyboard_arrow_right</span>
                </button>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <img class="img-fluid" src="../../assets/img/landing_page.jpg" alt="">
        </div>
    </div>
</div>