<div class="container-fluid">
    <header class="m-3">
        <h3>Steps to use the application.</h3>
    </header>
    <article class="m-3">
        <ul class="list-unstyled">
            <li>The application has 3 types of users:
                <ul>
                    <li>Shop Owner - Admin</li>
                    <li>Shop Employees - Managers</li>
                    <li>Customer</li>
                </ul>
            </li>
            <li>The owner will be given elevated access when we purchases the app, for testing puspose use these
                credentials:</li>
            <ul>
                <li>username: admin</li>
                <li>password: 1234567890</li>
            </ul>
            <li>A manager's request had to be approved by the owner before he/she can start using the app.</li>
            <li>After his application is approved, a manager can bill the customer's on the checkout.</li>
            <li>A customer can sign up and use the app to see shop details like items, quantities for shopping.</li>
        </ul>
    </article>
</div>