<div class="image-holder jumbotron">
    <div class="row">
        <div class="offset-2 col-lg-6 col-md-6 mt-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text lighten-3" id="basic-text1">
                        <i class="material-icons">store_mall_directory</i>
                    </span>
                </div>
                <input class="form-control" type="text" placeholder="Search" name="search-bar" [(ngModel)]='searchKey'
                    (input)="search()">
            </div>
        </div>
        <div class="col-lg-2 col-md-6">
            <label for="Sort"></label>
            <select class="form-control" [(ngModel)]="sortKey" (ngModelChange)="sortFunction()" id="SortBy">
                <option disabled selected value="undefined">Sort by</option>
                <option value="name">Name</option>
                <option value="stock">Availibity</option>
                <option value="price">Price</option>
            </select>
        </div>
    </div>
</div>
<div class="card-deck my-5">

    <div class="col-lg-3 col-md-6 mb-5" *ngFor="let list of filteredItemList">
        <app-info [product]="list" (deleteRequested)="delete($event)">
        </app-info>
    </div>
</div>